@font-face {
    font-family: "Norse-Bold";
    src: url('static/Norse-Bold.otf');
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

body, a {
    margin: 0px;
    color: white;
    background-color: rgb(245, 245, 245);
}

main {
    display: flex;
    height: 100vh;
}

.website-info-section {
    position: relative;
    background: url('static/website-info-section-bg.avif');
    background-size: cover;
    flex: 1;
}

.sign-up-section {
    flex: 2;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 30%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: "Norse-Bold", sans-serif;
    font-size: 60px;
}

.logo img {
    display: inline;
    height: 2em;
    width: 2em;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 15%;
    right: 15%;
    text-align: center;
    font-size: 0.75em;
    padding-bottom: 5px;
}

.sign-up-section {
    color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.sign-up-section a {
    color: green;
    text-decoration: none;
}

.form-info {
    margin-left: 30px;
    padding-bottom: 30px;
    overflow: hidden;
    max-width: calc(100% - 100px);
}

.form-input {
    background-color: white;
    padding: 30px;
    padding-top: 15px;
    margin-bottom: 30px;
}

form > h3, 
form > input,
.form > p {
    margin-left: 30px;
}

label {
    display: flex;
    flex-direction: column;
    font-size:10px;
    color: rgb(79, 79, 79);
    font-weight: bold;
}

.form-input > div {
    display: flex;
    gap: 50px;
}

.form-input > div:not(:first-child) {
    padding-top: 15px;
}

